<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title> </title>
</head>
<body>
   <div class="container">
    <div class="card d-flex" style="width:18rem; min-height: 9rem;">
        <div class="card-body">
            <h5 class="card-title"><%= message.title %></h5>
            <% if(message.created_on){ %>
                <h6 class="card-subtitle mb-2 text-muted">Created by <%= message.full_name %> on <%= message.created_on.toLocaleDateString("en-US") %></h6>
            <% } %>
            <p class="card-text"> <%= message.text %></p>
        </div>
    </div>
   </div>
</body>