<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <%- include("./partials/header.ejs") %>
        </div>
        <div class="row">
            Hello World!
        </div>
        
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
    </div>

</body>
</html>