<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>Members Only</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <%- include("./partials/header.ejs") %>
        </div>
        <div class="row">
            Hello <%= user.first_name %>
        </div>
        
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Log Out</button></a>
        </form>
       
    </div>

</body>
</html>